DB_NAME="wordpress"
DB_USER="root"
DB_PASSWORD=""
DB_HOST="127.0.0.1"

WP_DEBUG="true"

AUTH_KEY=')e+Ei3Xa!?sEJ=+yJoH.iHE,b#[DOr:dc#>~7,vm+jVpf:yd$x{7z+&>O<L{7,uc'
SECURE_AUTH_KEY='*?q[o[O@t g9+;q&HrL-^DLvjc!/r@ll%=e5Q=afvJFkDO;LB7(.Eb(NhsHF5}.)'
LOGGED_IN_KEY=',TLpXz?<ckOigzX$Pu:l?j=0~DcGHR*+{MN=Jy{Aky_E2-nJ9PJj7auVv1.8U9xT'
NONCE_KEY='GHQGL1:2-3ie@7%/OR-*V|#VHy_-LzrWqZ[6+?l-._U?1`:-^OV +nv+PLx+5g0*'
AUTH_SALT='_-`f2ykGy;2Fm>$HI*dy1K>k4^O];.Or}71$JAI5K};Jjryp4)]1WscC-JXqij^='
SECURE_AUTH_SALT='5wc+SUdMZ|qxD*A]UU2|,wK <SrF^>5+.G 6+q$F<$#vT|Kp4.%N@0^W=+20uZEO'
LOGGED_IN_SALT='r9d=ETA@6S&_.d{KW?0;A._R0OtqhQV/|In,q)+@&eeOcx0g^z3A%0XaW+)V9mqa'
NONCE_SALT='e+-ly2|2;rhMrfmiB*v>*9H2Va*b E(qH9wqK6 N3bo3X9x2$`3zK|N}-{9Y)3t8'

AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
